<%- include('partials/head') %>
    <%- include('partials/navbar') %>
    <h1>HomePage <%= 'hello world'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, qui asperiores? Quam quod aliquam cumque id
        maxime. At id voluptatibus non nam laudantium amet adipisci! Provident tenetur minus pariatur inventore!</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos temporibus blanditiis vel consectetur
        aperiam est nam porro veritatis id. Quam assumenda asperiores quo fugiat tempora soluta perspiciatis facere
        necessitatibus ex!</p>
        <%- include('partials/footer') %>