/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.left-content, .right-content {
    width: 200px; 
    height: 200px;
    margin: 10px;
    display: flex;
}

img.portrait {
    border: 5px solid #112ea3 ;
}

h1.happy {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    font-weight: 400;
}

h2.birthday {
    font-family: "Archivo Black", sans-serif;
    font-size: 90px;
    font-weight: 700;
    color: #112ea3;
} 

p {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 30px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter Tight', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 50px;
    background-color: #f3f3f3;
}

.left-content {
    padding-left: 150px;
    flex-basis: 50%;
}

.right-content {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 200px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.happy {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    font-weight: 500;
    margin: 0;
    margin-left: 130px;
    color: black;
}

.birthday {
    font-family: 'Inter Tight', sans-serif;
    font-size: 80px;
    font-weight: 900;
    color: #112ea3;
    margin: -10px 0 20px 20px;
}

.quote-icon {
    width: 40px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.message {
    font-size: 25px;
    font-weight: 500;
    max-width: 300px;
    text-align: center;
    margin-left: 60px;
    color: black;
}

.portrait {
    width: 600px;
    height: auto;
    border: 5px solid #112ea3;
    margin-top: 100px;
    margin-right:70px ;
    margin-bottom: 10px;
}

.name-designation {
    background-color: #112ea3;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.name {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

.designation {
    font-size: 18px;
}
